<main class="main">
    <form-medicine class="flex m-2"
        (actionAddMedication)="addMedication($event)"/>
    <section class="flex flex-row">
        @for (item of listMedications; track $index) {
            <div>
                <div
                    (click)="idMedicineSelected = item.id"
                    style="border-radius: 0.5rem; background-color: rgb(52, 33, 9);" 
                    class="flex flex-row p-2 m-2">
                    <img
                        style="width: 1rem;" 
                        class="icon-img" [src]="'../assets/images/'+item.icon+'.png'">
                    <span class="mt-1">
                        {{item.name}}
                    </span>
                </div>
            </div>
        }
    </section>
    <table-of-days
        [weeks]="week"
        [idDaySelected]="idDaySelected"
        (selectDay)="clickOnDay($event)"
    />
</main>

<router-outlet />
